<p>event page</p>
Name of the Event: <%= @event.name %>
<br>
Location: <%= @event.address %>
<br>
Description: <%= @event.description %>
<br>
Start Time: <%= @event.start_time %>
<br>
End Time: <%= @event.end_time %>
<br>
Website: <%= @event.website %>
<br>
Links: <%= @event.links %>
<br>
Category: <%= @event.category %>
<br>

<!-- refactor the below -->

<% if host?(@event)%>
<!-- Checks if the current user is creator of the event -->
    <%= link_to 'Edit',edit_event_path(@event) %>
    <%= link_to "Delete", event_path(@event), remote: true, method: :delete%>
<%end %>
<% if !host?(@event)%>
  <%unless attending?(@event)%>
    <%= link_to 'join', join_event_path(@event) %>
    <%else %>
    <%= link_to 'leave', leave_event_path(@event) %>
  <%end%>
<%end%>
