<div class="header">
	<div class="inner">
		<div class="logo">
			<%= link_to image_tag("logo.png"), root_path %>
		</div>

		<div class="user-options">
			<div>
				<% if user_signed_in? %>
				    <%= link_to "Dashboard", user_path(current_user)%>
				    <%= link_to 'Edit profile', edit_user_registration_path %> |
				    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
				  <% else %>
				    <div class="btn btn-primary"><%= link_to "Sign up", new_user_registration_path %></div>
				    <div class="btn btn-primary"><%= link_to "Login", new_user_session_path %></div>
				<% end %>
			</div>
		</div>
	</div>
</div>
